$estilos: (
  color: #a76571,
  fondo: #f7c4a5,
  tamañofuente: 30px,
);

.lema {
  background-color: map-get($estilos, fondo);
  color: map-get($estilos, color);
  font-size: map-get($estilos, tamañofuente);
  text-align: center;
}
