@mixin parrafos {
  font-family: "bitter", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  font-weight: 200;
  color: black;
  font-size: 15px;
  background-color: #f7c4a5;
}

.mb-0 {
  @include parrafos;
}
