* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: #c38d94;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  border: solid 1px;
  border-color: #f7c4a5;
  color: white;
}

.header .lista {
  display: inline;
  padding: 1rem;
  margin: 1rem;
}

.header .titulo {
  font-family: "Hind", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

.header h1 {
  font-family: "bitter", sans-serif;
}

.header nav {
  position: relative;
  margin-right: 20px;
}

.header .lista {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #484d6d;
}

.header .a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

.header .a:hover, .header .a:focus {
  background-size: 100% 2px;
}

.header .logo {
  background-color: #f7c4a5;
  border-radius: 50%;
  padding: 5px;
  margin-top: 190px;
  margin-left: 20px;
  height: 20rem;
}

.main {
  background-color: #f7c4a5;
  text-align: center;
  border: solid 1px;
  border-color: #c38d94;
}

.main p {
  font-family: "bitter", sans-serif;
  text-align: center;
  margin: auto;
  width: 80%;
  font-weight: 300;
  color: black;
  background-color: #f7c4a5;
}

.form {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  padding: 2rem;
}

.img_rrss {
  height: 2.5rem;
}

.contenedor-cuerpo {
  text-align: center;
  margin: 50px;
  padding: 30px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imagen-texto1 imagen-texto2" "imagen-texto1 imagen-texto2";
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.footer {
  background-color: #c38d94;
  border-color: #f7c4a5;
  color: white;
  border: solid 1px;
  margin: 50px;
  padding: 30px;
}

.footer .containerrrss {
  width: 20%;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      grid-template-areas: "img_rrss1 img_rrss2 img_rrss3";
  -ms-grid-columns: 2rem 2rem 2rem;
      grid-template-columns: 2rem 2rem 2rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer .img_rrss1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img_rrss1;
  height: 2rem;
  display: inline-block;
}

.footer .img_rrss2 {
  height: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img_rrss2;
  display: inline-block;
}

.footer .img_rrss3 {
  height: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img_rrss3;
  display: inline-block;
}

.footer .container-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.carousel {
  margin: 0 auto;
}

@media (max-width: 599px) {
  /*Cambio media Header*/
  .logo {
    display: none;
  }
  h1 {
    display: none;
  }
  /*Main*/
  img {
    width: 100%;
    height: auto;
  }
  .mb-0 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  /*Cambio media Footer*/
  .containerrrss {
    width: 20%;
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        grid-template-areas: "img_rrss1" "img_rrss2" "img_rrss3";
    -ms-grid-columns: 2rem;
        grid-template-columns: 2rem;
  }
  .img_rrss1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img_rrss1;
    height: 2rem;
    display: inline-block;
  }
  .img_rrss2 {
    height: 2rem;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img_rrss2;
    display: inline-block;
  }
  .img_rrss3 {
    height: 2rem;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img_rrss3;
    display: inline-block;
  }
  .container-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 412) {
  main img {
    width: 100%;
  }
  main div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main p {
    width: 400px;
  }
  .footer {
    background-color: #c38d94;
    border-color: #f7c4a5;
    color: white;
    border: solid 1px;
    width: 100%;
  }
  .footer .containerrrss {
    width: 20%;
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        grid-template-areas: "img_rrss1 img_rrss2 img_rrss3";
    -ms-grid-columns: 2rem 2rem 2rem;
        grid-template-columns: 2rem 2rem 2rem;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .footer .img_rrss1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img_rrss1;
    height: 2rem;
    display: inline-block;
  }
  .footer .img_rrss2 {
    height: 2rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img_rrss2;
    display: inline-block;
  }
  .footer .img_rrss3 {
    height: 2rem;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img_rrss3;
    display: inline-block;
  }
  .footer .container-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main {
    background-color: #f7c4a5;
    text-align: center;
    border: solid 1px;
    border-color: #000000;
    width: 100%;
  }
  .main p {
    font-family: "bitter", sans-serif;
    text-align: center;
    width: 100%;
    font-weight: 300;
    color: black;
    font-size: 15px;
    background-color: #f7c4a5;
  }
  .main form {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    padding: 2rem;
  }
  .img_rrss {
    height: 2.5rem;
  }
  .contenedor-cuerpo {
    text-align: center;
    margin: 50px;
    padding: 30px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "imagen-texto1 imagen-texto2" "imagen-texto1 imagen-texto2";
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}
/*# sourceMappingURL=estilos.css.map */